<?xml version="1.0" encoding="UTF-8"?>
<!-- beans.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
       
       <!-- cfg spring bean class -->
       <bean id="ldate" class="java.time.LocalDate" factory-method="now"/> <!-- dependent spring bean class -->
       
       <bean id="sfc" class="com.nt.sbeans.SeasonFinder"> <!-- target spring bean class -->
       		<property name="date" ref="ldate"/>
       </bean>
       
</beans>
